{% extends "sqladmin/base.html" %}

{% block content %}
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">UAIFU Admin Center</h2>
                <div class="text-muted mt-1">Керування грою та статистика.</div>
            </div>
        </div>
    </div>
</div>

<div class="page-body">
    <div class="container-xl">
        <div class="row row-deck row-cards">
            <!-- Stats -->
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="subheader">Користувачі</div>
                        </div>
                        <div class="h1 mb-3">{{ stats.total_users }}</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="subheader">Картки</div>
                        </div>
                        <div class="h1 mb-3">{{ stats.total_cards }}</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="subheader">Спіни</div>
                        </div>
                        <div class="h1 mb-3">{{ stats.total_spins }}</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="subheader">Монети</div>
                        </div>
                        <div class="h1 mb-3">{{ stats.total_coins }} 🪙</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
