{% extends "sqladmin/base.html" %}

{% block content %}
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">UAIFU Admin Center</h2>
                <div class="text-muted mt-1">Керування грою та перегляд статистики.</div>
            </div>
        </div>
    </div>
</div>

<div class="page-body">
    <div class="container-xl">
        <div class="row row-deck row-cards">
            <!-- Simple Stats Cards -->
            <div class="col-sm-6 col-lg-3">
                <div class="card card-sm">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <span class="bg-primary text-white avatar"><i class="fa fa-users"></i></span>
                            </div>
                            <div class="col">
                                <div class="font-weight-medium">Користувачі</div>
                                <div class="text-secondary">{{ stats.total_users }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card card-sm">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <span class="bg-green text-white avatar"><i class="fa fa-image"></i></span>
                            </div>
                            <div class="col">
                                <div class="font-weight-medium">Персонажі</div>
                                <div class="text-secondary">{{ stats.total_cards }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card card-sm">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <span class="bg-yellow text-white avatar"><i class="fa fa-sync"></i></span>
                            </div>
                            <div class="col">
                                <div class="font-weight-medium">Всього спінів</div>
                                <div class="text-secondary">{{ stats.total_spins }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card card-sm">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <span class="bg-red text-white avatar"><i class="fa fa-coins"></i></span>
                            </div>
                            <div class="col">
                                <div class="font-weight-medium">Обіг монет</div>
                                <div class="text-secondary">{{ stats.total_coins }} 🪙</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <p>Вітаємо в адмін-панелі UAIFU Gacha. Використовуйте бокове меню для керування базою даних.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
